<div>
  <h1>Pick Your Poison</h1>

  <mat-divider></mat-divider>
  <div *ngFor="let q of quiz">
    <mat-card>
      <mat-card-title>{{q.label}}</mat-card-title>
      <mat-card-subtitle>{{q.description}}</mat-card-subtitle>
      <mat-card-actions>
        <button mat-button color="ecru" class="btn btn-primary">
          <a routerLink="/{{q.name}}" class="btn btn-primary">Select this quiz</a>
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-divider></mat-divider>
  </div>
</div>